/* Reusable styles*/
@import "fonts.css";
@import "button.css";

/* Other styles*/
@import "header.css";
@import "home.css";
@import "footer.css";
@import "about.css";
@import "help.css";
@import "contact.css";
@import "testimonial.css";
@import "resume.css";
@import "certificate.css";
@import "selfintro.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    background-color: #f5e0c5;
    margin: 0;
    padding: 0;
    color: white;
    overflow-x: hidden;
}